<html>
    <head>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
  
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Date', 'Price'],
            ['January',  0.7697],
            ['February',  0.7533],
            ['March',  0.7487],
            ['April',  0.7034],
            ['May',  0.7109],
            ['June',  0.7337],
            ['July',  0.7361],
            ['August',  0.7478],
            ['September',  0.766],
            ['October',  0.7523],
            ['November',  0.7543],
            ['December',  0.7721],
          ]);
  
          var options = {
            title: 'Canadian dollar to US dollar daily exchange rate in 2020',
            curveType: 'function',
            legend: { position: 'bottom' }
          };
  
          var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
  
          chart.draw(data, options);
        }
      </script>
    </head>
    <body>
      <div id="curve_chart" style="width: 900px; height: 500px"></div>
    </body>
  </html>
  