<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1 class="headertekst">Hello This is BDAT_1004 Data Programming</h1>
    <h2>This is our final Project</h2>
    <br>
    <h2>Here are the details of our team Member:</h2>
    <h2>Milind Tank </h2>
    <h2>Tin Srimake</h2>
    <h2>Artem Safarian</h2>
    <h2>Krishna Chaitanya Reddy Alla</h2>
    
</body>
</html>